#elm-app {
  /* width: 500px; */
  /* margin: 40px auto 0 auto; */
}

body {
  margin: 0;
}

.grid .float {
  float: left;
}

.tile {
  width: 80px;
  height: 80px;
  /* background-color: green; */
}

.experimentalOn {
  background-color: blue;
}

.experimentalTile {
  width: 80px;
  height: 80px;
  transition: background-color 1s ease-out;
  /* background-color: green; */
}

#train {
  position: fixed;
  width: 80px;
  height: 80px;
  top: 80px;
  left: 0px;
  background-image: url("/img/train.png");
  background-position: center;
  transform: rotate(45deg);
}

.animate {
  transition: transform 0.5s ease-out;
}

.tile.right {
  background-image: url("/img/right.png");
}

.tile.left {
  background-image: url("/img/left.png");
}

.tile.straight {
  background-image: url("/img/straight.png");
}

.tile.north {
  transform: rotate(0deg);
}

.tile.east {
  transform: rotate(90deg);
}

.tile.south {
  transform: rotate(180deg);
}

.tile.west {
  transform: rotate(270deg);
}

.tile.north-north {
  transform: rotate(360deg);
}
