#elm-app {
  /* width: 500px; */
  /* margin: 40px auto 0 auto; */
}

body {
  margin: 0;
}

.tile {
  width: 80px;
  height: 80px;
  display: inline-block;
}

.train {
  position: absolute;
  width: 80px;
  height: 80px;
  z-index: 1;
  /* background-color: green; */
  /* border-radius: 50%; */
  background-image: url("/img/train.png");
}

.tile.turn {
  background-image: url("/img/turn.png");
}

.tile.straight {
  background-image: url("/img/straight.png");
}
